In [37]:
import pandas as pd

In [38]:
# List of encodings to try
encodings = ['utf-8', 'latin-1', 'utf-16']

# Try different encodings until successful
for encoding in encodings:
    try:
        tweet_df = pd.read_csv('judge-1377884607_tweet_product_company.csv', encoding=encoding)
        print(f'{encoding} worked!')
        break  # Exit the loop if reading is successful
    except UnicodeDecodeError:
        print(f'{encoding} not successful')
        continue  # Continue to the next encoding if decoding error occurs
        
#rename columns
tweet_df.columns = ['tweet','product','sentiment']
# Display the DataFrame
tweet_df.head()

utf-8 not successful
latin-1 worked!

,tweet,product,sentiment
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [39]:
#renaming sentiment column values
tweet_df['sentiment'] = tweet_df['sentiment'].str.lower().apply(lambda x: 'negative' if x=='negative emotion'\
                                                                           else 'positive' if x=='positive emotion'\
                                                                           else 'none' if x=='no emotion toward brand or product'or x=="i can't tell"\
                                                                           else x)
#renaming product values
tweet_df['product'] = tweet_df['product'].str.lower().apply(lambda x: 'Apple' if x=='iphone' or x=='ipad or iphone app' or x=='other apple product or service' or x=='ipad' or x=='apple'\
                                                                           else 'Android' if x=='android app' or x=='android'\
                                                                           else 'Google' if x=='google'or x=="other google product or service"\
                                                                           else x)
#filling nulls of missing values
tweet_df['product'].fillna('Product Unknown', inplace = True)
tweet_df.dropna(inplace = True)

In [45]:
print(tweet_df['tweet'].iloc[10])

Find &amp; Start Impromptu Parties at #SXSW With @HurricaneParty http://bit.ly/gVLrIn I can't wait til the Android app comes out.

In [40]:
tweet_df['product'].value_counts()

Product Unknown    5801
Apple              2409
Google              723
Android             159
Name: product, dtype: int64

In [59]:
tweet_df['Product'] = tweet_df['tweet'].str.lower().apply(lambda x: 'Apple' if 'ipad' in x or 'apple' in x or 'iphone' in x or 'itunes' in x\
                                              else 'Google' if 'google' in x\
                                             else 'Android' if 'android' in x\
                                             else 'Unknown')

In [60]:
tweet_df['Product'].value_counts()

Apple      5592
Google     2432
Unknown     722
Android     346
Name: Product, dtype: int64

In [61]:
tweet_df[tweet_df['Product'] == 'Unknown']

,tweet,product,sentiment,Product
51,ÛÏ@mention {link} &lt;-- HELP ME FORWARD THIS...,Product Unknown,none,Unknown
52,÷¼ WHAT? ÷_ {link} ã_ #edchat #musedchat #s...,Product Unknown,none,Unknown
53,.@mention @mention on the location-based 'fast...,Product Unknown,none,Unknown
66,At #sxsw? @mention / @mention wanna buy you a ...,Product Unknown,none,Unknown
71,Chilcott: @mention #SXSW stand talking with Bl...,Product Unknown,none,Unknown
...,...,...,...,...
8932,Z6: No News is Good News {link} [codes valid: ...,Product Unknown,none,Unknown
8936,CLIENT NEWS! @mention Releases &quot;Dope Melo...,Product Unknown,none,Unknown
8970,This is my 5th year downloading the #sxsw Musi...,Product Unknown,none,Unknown
9024,"by the way, we're looking for a spanish-speaki...",Product Unknown,none,Unknown
9026,True story! RT @mention I just rated Amy's Ice...,Product Unknown,none,Unknown